@page "{id:int?}"
@model VehicleDepot.Pages.Vehicles.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section ProductDetailStyles {
    <link href="@Url.Content("~/css/ProductDetails.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Details";
}

<div class="back-link">
    <a asp-page="./Index">Back to List</a>
</div>

<div>
   <div class="product-details-container">
      <div class="product-details">
         <div class=" product-details-column product-details-column1">
            <img src="@Model.Vehicle.ImageString" alt="vehicle image">
         </div>
         <div class="product-details-column product-details-column2">
            <div class="inner-text">
               <div class="product-details-row product-details-row1">
                  <div class="title-section">
                     <h1>@Model.Vehicle.Year @Model.Vehicle.Make @Model.Vehicle.Model</h1>
                     <p></p>
                  </div>
                  <!-- Car logo container -->
                  <div class="logo-section">    
                     <img src="@Model.ImageString" alt="Manufacturer Logo">
                  </div>
               </div>
               <div class="product-details-row product-details-row2">
                  <table class="tg" style="width: 100%;">
                     <colgroup>
                        <col style="width: 80px">
                        <col style="width: 80px">
                     </colgroup>
                     <tr>
                        <td class="tg-yw4l2">Manufacturer:</th>
                        <td class="tg-yw4l">@Model.ManufacturerName</th>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Model:</th>
                        <td class="tg-yw4l">@Model.Vehicle.Model</th>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Origin:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Country</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">MSRP:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Price</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Color:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Color</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Type:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Type</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Mileage:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Mileage</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Size:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Size</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Engine:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Engine</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Fuel Type:</td>
                        <td class="tg-yw4l">@Model.Vehicle.FuelType</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Location:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Location</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Features:</td>
                        <td class="tg-yw4l">@Model.Vehicle.Features</td>
                     </tr>
                     <tr>
                        <td class="tg-yw4l2">Vin Number:</td>
                        <td class="tg-yw4l">@Model.Vehicle.VinNumber</td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> 